<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h4><strong><%= @rider.name %></strong></h4>
  <p><%= @rider.sex %></p>
  <p><%= @rider.email %></p>
  <p><%= @rider.phone %></p>
  <p><%= @rider.my_bike %></p>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <p><img class="profile-photo" src="<%= @rider.profile_photo %>" class="thumbnail"></p>
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h4><strong>Experience</strong></h4>
    <p><%= @rider.my_experience %></p>
  <h4><strong>Interests</strong></h4>
  <% if @rider.street %> <p>Street!</p> <% end %>
  <% if @rider.adventure %> <p>Adventure!</p> <% end %>
  <% if @rider.dual_sport %> <p>Dual Sport!</p> <% end %>
  <% if @rider.dirt %> <p>Dirt!</p> <% end %>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h4>My Bio</h4>
  <p><%= @rider.my_bio %></p>
</div>

<div class="col-xs-4 col-xs-offset-4">
  <h4>Comments</h4>
  <hr>
  <%= form_for @comment, url: add_comment_path(@rider.id) do |f| %>
    <div class="field">
      <%= f.text_area :text, autofocus: true, placeholder: "Enter Comment", class: "comment-box form-control" %>
      <br>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


<div class="col-xs-6 col-sm-offset-3">
  <% @rider.comments_received.sort_by {|c| c.created_at }.reverse.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-body text-primary">
          <%= comment.text %>
        </div>
        <div class="panel-footer">
          <small><%= comment.commenter.name %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="text-muted"><%= comment.created_at%></span></small>
          <% if comment.commenter == current_rider %>
            &nbsp;&nbsp;&nbsp;<%= link_to 'X', delete_comment_path(comment.id), {method: :delete, class: 'btn btn-xs btn-danger'} %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>




