<h1>About Me</h1>
<%= form_for @rider do |f| %>
  <% if @rider.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @rider.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %>
      <select my_experiance="select">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Undecided">Undecided</option>
      </select>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :my_experiance %>
      <select my_experiance="select">
      <option value="beginner">beginner</option>
      <option value="intermediate">intermediate</option>
      <option value="advanced">advanced</option>
      </select>
  </div>
  <div class="field">
    <%= f.label :my_interests %>
    <%= f.select :my_interests, [["Street", "street"], ["Adventure", "adventure"], ["Duel Sport", "duel_sport"], ["Dirt", "dirt"] ], {prompt: "Select Interests"}, {:multiple => true, class: "input-md"} %>
  </div>
  <div class="field">
    <%= f.label :permission %>
    <%= f.check_box :my_interests %>
  </div>
  <div class="field">
    <%= f.label :my_bike %>
    <%= f.text_field :my_bike %>
  </div>
  <div class="field">
    <%= f.label :my_photo %>
    <%= f.text_field :my_photo %>
  </div>
  <div class="field">
    <%= f.label :my_bio %>
    <%= f.text_field :my_bio %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
