<div class="row col-xs-4 col-xs-offset-4">
  <h1>Sign Up</h1>
    <%= form_for @rider do |f| %>
      <% if @rider.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
            <ul>
              <% for message in @rider.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "Create Rider", class: "btn btn-info"%>
      </div>
    <% end %>
</div>

